---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕸️</text></svg>"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Simple Mindmap</title>

    <style>
      html,
      body {
        margin: 0;
        height: 100%;
      }

      body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .coming-soon-text {
        background: -webkit-linear-gradient(#4834d4, #e056fd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body>
    <!-- TODO: Banner to add some colour -->

    <div class="relative flex flex-col gap-4">
      <div class="text-center text-xs coming-soon-text">Coming Soon</div>
      <div class="flex flex-col gap-4">
        <h1 class="text-center text-4xl">Simple Mindmap</h1>
        <p>Create simple mindmaps at the speed of thought.</p>
      </div>

      <p class="text-center">
        Follow progress on <a
          href="https://twitter.com/pjaerr"
          class="text-blue-500 font-bold hover:underline focus:underline"
        >
          Twitter
        </a>
      </p>
    </div>
  </body>
</html>
